
/* --- ############# xxx ############# --- */

/* --- ############# xxx ############# --- */
body{
  font-family: 'Cormorant Garamond', serif;

}

/* --- ############# xxx ############# --- */
h1, h2, h3, h4, {
  font-family: 'Proza Libre', sans-serif;

}

/* --- ############# xxx ############# --- */
header{
  text-align: center;
  font-size: 1.3em;
}

/* --- ############# xxx ############# --- */
p{
  font-size: 1.3em;
}

/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */
